PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=gkx_user
DB_PASSWORD=gkx_pass
DB_NAME=gkx_db
DB_SYNC=true

JWT_ACCESS_SECRET=dev-access-secret
JWT_REFRESH_SECRET=dev-refresh-secret
JWT_ACCESS_EXPIRES_IN_SECONDS=900
JWT_REFRESH_EXPIRES_IN_SECONDS=604800

API_KEY_RESEND=
EMAIL_ADMIN=onboarding@gkx.dev
AUTH_PUBLIC_BASE_URL=http://localhost:3000
EMAIL_VERIFICATION_TOKEN_EXPIRES_IN_SECONDS=86400
RESET_PASSWORD_TOKEN_EXPIRES_IN_SECONDS=3600
LOCAL_UPLOADS_DIR=./uploads
LOCAL_UPLOADS_DIR_URL=http://localhost:3000/uploads
TACTICAL_PREVIEW_MAX_FILE_SIZE=3000000